*{
    margin: 0px;
    padding: 0px;

}

body {
    display:flex;
    flex-direction: column;
    background: peachpuff;
    align-items: center;
}

.header{
    display:flex;
    justify-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;

}

.row{
    display: flex;
    flex: 1;
}

.square{
    flex: 1;
    background: white;
}

.touchedSquare{
    flex:1;
    background:blue;
}